<ion-header>
    <ion-toolbar>
        <ion-title>
            设备录入
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content ionScroll>

    <ion-grid>
        <ion-row>
            <ion-button color="primary" (click)="openCamera()">拍照</ion-button>
        </ion-row>
        <ion-row>
            <ion-col height="300px">
                <img [src]="path" alt="图片预览"/>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item>
        <ion-label>设备编号</ion-label>
        <ion-input [(ngModel)]="deviceId"></ion-input>
        >
    </ion-item>
    <ion-item>
        <ion-label>地址</ion-label>
        <ion-input [(ngModel)]="address"></ion-input>
        >
    </ion-item>
    <ion-button expand="block" fill="outline" (click)="getLongLat()">获取经纬度坐标</ion-button>
    <ion-button expand="block" fill="outline" (click)="submitMessageT()">提交信息</ion-button>

</ion-content>
